.Projects h1,
.Projects-intro {
  margin: 60px 10px;
}
.Projects h1 {
  width: 90%;
  line-height: 45px;
  font-size: 35px;
}
.Projects-intro {
  line-height: 35px;
  font-size: 18px;
  font-weight: 100;
}
.Projects a {
  text-decoration: none;
}
.App h3 {
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-top: 90px;
  font-size: 16px;
}
.App h3 i {
  font-weight: 900;
}

.App h3 a {
  color: #585858;
}
@media (min-width: 600px) {
  .Projects h1 {
    font-size: 40px;
    width: 80%;
  }
}
