.FullProject img {
  border-radius: 4px;
  width: 100%;
}

.FullProject h1 {
  margin: 60px 10px;
}
.FullProject p {
  line-height: 28px;
  padding: 10px;
  text-align: left;
  font-weight: 100;
  font-size: 15px;
}
.FullProject a {
  text-decoration: none;
  color: inherit;
}
