* {
  box-sizing: border-box;
}
.App {
  color: #585858;
}
.App h3 {
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-top: 90px;
  font-size: 16px;
}
.App h3 i {
  font-weight: 900;
}

.App h3 a {
  color: #585858;
}
